name: 'Terraform PR Validation'

on:
  pull_request:
    paths:
      - 'terraform/**'

jobs:

  terraform-checks:
    name: 'Terraform Checks'
    runs-on: ubuntu-latest
    
    steps:

    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      
    - name: Terraform Format
      run: terraform fmt -check -recursive
      
    - name: Terraform Init
      run: terraform init -backend=false
      
    - name: Terraform Validate  
      run: terraform validate
      
    - name: Terraform Plan
      run: terraform plan -lock=false -refresh=false