name: 'Terraform PR'

on:
  pull_request:

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform/envs/dev
        
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
        
    - name: Terraform fmt
      run: terraform fmt -check -recursive
        
    - name: Terraform Init
      run: terraform init -backend=false
        
    - name: Terraform Validate
      run: terraform validate
        
    - name: Terraform Plan
      run: terraform plan -lock=false -input=false